<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head') %>
</head>

<body>
    <header>
        <%- include('../layout/header') %>
    </header>
    <main>

        <section>
            <img src=<%=quote.image %>>
            <p>
                <%= quote.character %>
            </p>
            <p>
                <%= quote.quote %>
            </p>
            <p>
                <%= quote.characterDirection %>
            </p>
            <form action="/favorite-quotes/<%=quote.id %>?_method=put" method="post">
                <input type="text" name="quote" value="<%= quote.quote %>">
                <input type="submit" value="update">
            </form>
            <form action="/favorite-quotes/<%=quote.id %>?_method=delete" method="post">
                <input type="submit" value="delete">
            </form>
        </section>

    </main>
    <footer>
        <%- include('../layout/footer') %>
    </footer>
</body>

</html>